<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iTunesConnectReports.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE2F12BA197FE902007133D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2F12CE197FE902007133D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2F12E2197FEA8B007133D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE4F09B71997CD2F00C67591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
